doctype html
html(lang='en')

    include ./include/header

        section.content-container(aria-label='Main title of page')
            h1 Portfolio

        section.content-container(aria-label='Portfolio')
            ul.projects
                each project in portfolio
                    li.project
                        .project__date
                            .date
                                .date__start= project.date.start.toLocaleString('en-US', { month: 'short', year: 'numeric' })
                                .date__end
                                    if project.date.end
                                        | — #{project.date.end.toLocaleString('en-US', { month: 'short', year: 'numeric' })}
                                    else
                                        | — now
                        .project__line.to-change_background
                            .circle.to-change_border
                        .project__information
                            ul.tags
                                each tag in project.tags
                                    li.tag(class='tag_' + tag.code)= tag.name
                            .information
                                h2.name
                                    img.icon(src='/img/portfolio/' + project.code + '.ico', alt='icon of ' + project.code + ' site')
                                    a(href=project.url, target='_blank')= project.name
                                .tasks= project.tasks.sort().join(' • ')

    include ./include/footer