mixin timeline_first
    .timeline__item.timeline__item_experience
        .timeline__description.timeline__description_experience
            .description.description-column Your company?
        .timeline__line
            .line-invisible
            .line_visible
            .circle
        .timeline__years
            .years-plug
                .plug 9999
        .timeline__line.tech-line
            .line-invisible
            .line_visible.to-change_start-timeline
        .timeline__description.timeline__description_tech
mixin timeline_last
    .timeline__item.timeline__item_experience
        .timeline__description.timeline__description_experience
            .description.description-column Realized myself as a developer
        .timeline__line
            .line_visible
            .line-invisible
            .circle
        .timeline__years
            .years-plug
                .plug 0000
        .timeline__line.tech-line
            .line_visible.to-change_end-timeline
            .line-invisible
        .timeline__description.timeline__description_tech
mixin item(val)
    - var expTopLine = val.experience ? val.experience.topLine : false

    .timeline__description
        if val.experience
            .description.description-column
                .description__top-line !{expTopLine}
                .description__bottom-line= val.experience.bottomLine
        else if val.techLogoName
            .description.description-row
                .description__empty
                .description__logo(class=val.techLogoName)
        else
            .description.description-column

    .timeline__line.timeline__line_experience
        if val.experience
            .circle.circle_experience

    .timeline__years
        if val.technologies
            .years.years_tech
                .years__top-line= val.year.start
                if val.year.end
                    .years__bottom-line — #{val.year.end}
        else
            .years
                .years__top-line= val.year.start
                if val.year.end
                    .years__bottom-line — #{val.year.end}

    .timeline__line.timeline__line_tech
        if val.technologies
            .circle.circle_tech

    .timeline__description
        if val.technologies
            .description.description-column
                .description__top-line.description__top-line_tech= val.technologies.topLine
                .description__bottom-line.description__bottom-line_tech= val.technologies.bottomLine
        else if val.experienceLogoName
            .description.description-column
                .description__logo(class=val.experienceLogoName)
        else
            .description.description-column
mixin item_technology(val)
    .timeline__description.timeline__description_experience
        if val.techLogoName
            .description.description-row
                .description__empty
                .description__logo(class=val.techLogoName)
        else
            .description.description-column

    .timeline__line.timeline__line_experience

    .timeline__years
        .years.years_tech
            .years__top-line= val.year.start
            if val.year.end
                .years__bottom-line — #{val.year.end}

    .timeline__line.timeline__line_tech.to-change_background
        .circle.circle_tech.to-change_border

    .timeline__description.timeline__description_tech
        .description.description-column
            .description__top-line.description__top-line_tech= val.technologies.topLine
            .description__bottom-line.description__bottom-line_tech.to-change_color-hover= val.technologies.bottomLine
mixin item_experience(val)
    - var expTopLine = val.experience ? val.experience.topLine : false

    .timeline__description.timeline__description_experience
        .description.description-column
            .description__top-line !{expTopLine}
            .description__bottom-line= val.experience.bottomLine

    .timeline__line.timeline__line_experience
        .circle.circle_experience

    .timeline__years
        .years
            .years__top-line= val.year.start
            if val.year.end
                .years__bottom-line — #{val.year.end}

    .timeline__line.timeline__line_tech.to-change_background

    .timeline__description.timeline__description_tech
        if val.experienceLogoName
            .description.description-column
                .description__logo(class=val.experienceLogoName)
        else
            .description.description-column

.timeline
    +timeline_first

    each val in timeline
        if val.experience
            .timeline__item.timeline__item_experience
                +item_experience(val)
        else
            .timeline__item.timeline__item_tech.to-change_color
                +item_technology(val)

    +timeline_last
