mixin timeline-first
    .timeline__item
        .timeline__description
            .description.description-column Your company?
        .timeline__line
            .line-invisible
            .line-visible
            .circle
        .timeline__years
            .years-plug
                .plug 9999
        .timeline__line.tech-line
            .line-invisible
            .line-visible
        .timeline__description

mixin timeline-last
    .timeline__item
        .timeline__description
            .description.description-column Realized myself as a developer
        .timeline__line
            .line-visible
            .line-invisible
            .circle
        .timeline__years
            .years-plug
                .plug 0000
        .timeline__line.tech-line
            .line-visible
            .line-invisible
        .timeline__description

.timeline
    +timeline-first

    each val in timeline
        - var expTopLine = val.experience ? val.experience.topLine : false

        .timeline__item
            .timeline__description
                if val.experience
                    .description.description-column
                        .description__top-line !{expTopLine}
                        .description__bottom-line= val.experience.bottomLine
                else if val.techLogoName
                    .description.description-row
                        .description__empty
                        a.description__logo(class=val.techLogoName, href=val.link, target="_blank")
                else
                    .description.description-column

            .timeline__line
                if val.experience
                    .circle.circle-experience.transition-std

            .timeline__years
                if val.technologies
                    .years.years-tech
                        .years__top-line= val.year.start
                        if val.year.end
                            .years__bottom-line — #{val.year.end}
                else
                    .years
                        .years__top-line= val.year.start
                        if val.year.end
                            .years__bottom-line — #{val.year.end}

            .timeline__line.timeline__line-tech
                if val.technologies
                    .circle.circle-tech.transition-std

            .timeline__description
                if val.technologies
                    .description.description-column
                        .description__top-line.description__top-line-tech= val.technologies.topLine
                        .description__bottom-line.description__bottom-line-tech= val.technologies.bottomLine
                else if val.experienceLogoName
                    .description.description-column
                        a.description__logo(class=val.experienceLogoName, href=val.link, target="_blank")
                else
                    .description.description-column

    +timeline-last
